@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*
--------Позиционирование
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 100;

--------Блочная модель
display: block;
float: right;
width: 100px;
height: 100px;
margin: 10px;
padding: 10px;

--------Типографика
font: normal 13px/1.5 "Arial", sans-serif;
font-style: normal;
font-size: 13px;
line-height: 1.5;
font-family: "Arial", sans-serif;
text-align: center;
color: #333333;

--------Оформление
background-color: #f5f5f5;
border: 1px solid #e5e5e5;
border-radius: 3px;
opacity: 1;

--------Анимация
transition: color 1s;

--------Разное
will-change: auto;
*/
.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

h1 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 4.4rem;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

h2 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  padding: 10px;
  font-size: 3.5rem;
  font-weight: 500;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

h3 {
  /* Позиционирование */
  /* Блочная модель */
  margin: 10px;
  /* Типографика */
  font-weight: 500;
  font-size: 2.4rem;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

h4 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 2rem;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

p {
  /* Позиционирование */
  /* Блочная модель */
  margin: 10px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

body {
  /* Позиционирование */
  /* Блочная модель */
  width: 100%;
  /* Типографика */
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  /* Оформление */
  background-color: #1c4995;
  /* Анимация */
  /* Разное */
}

.wrapper {
  /* Позиционирование */
  /* Блочная модель */
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.container {
  /* Позиционирование */
  /* Блочная модель */
  flex: 1 1 40%;
  height: 300px;
  min-width: 240px;
  /* Типографика */
  font-size: 1.6rem;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.header__photo {
  /* Позиционирование */
  /* Блочная модель */
  text-align: center;
  height: 100%;
  /* Типографика */
  /* Оформление */
  background-color: #ffcc00;
  /* Анимация */
  /* Разное */
}
.header__photo figcaption {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-size: 2.4rem;
  font-weight: 700;
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.header__photo img {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  border-radius: 50%;
  /* Анимация */
  /* Разное */
}

.header {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.header__content__item {
  /* Позиционирование */
  /* Блочная модель */
  height: 100%;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.header__contacts h2 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  color: #ffcc00;
  /* Анимация */
  /* Разное */
}
.header__contacts__list {
  /* Позиционирование */
  /* Блочная модель */
  margin: 10px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.header__contacts__list__icon {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  background-color: #ffcc00;
  border-radius: 50%;
  /* Анимация */
  /* Разное */
}
.header__contacts__list li > a {
  /* Позиционирование */
  /* Блочная модель */
  display: flex;
  align-items: center;
  margin: 5px;
  /* Типографика */
  color: #ffffff;
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.header__contacts__list li > a > img {
  /* Позиционирование */
  /* Блочная модель */
  width: 30px;
  margin-right: 10px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.header__contacts__list li > a:hover {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #ffcc00;
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.header__contacts__list li > a:hover > img {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main__summary {
  /* Позиционирование */
  /* Блочная модель */
  height: 100%;
  /* Типографика */
  /* Оформление */
  background-color: #000000;
  /* Анимация */
  /* Разное */
}

.main__summary > h2 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #ffffff;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main__summary > blockquote {
  /* Позиционирование */
  /* Блочная модель */
  padding: 10px;
  margin: 10px;
  /* Типографика */
  border-left: 3px solid #ffcc00;
  color: #ffcc00;
  font-style: italic;
  text-indent: 20px;
  text-align: justify;
  font-family: serif;
  letter-spacing: 0.06rem;
}

/* Оформление */
/* Анимация */
/* Разное */
.main__skills {
  /* Позиционирование */
  /* Блочная модель */
  height: 100%;
  /* Типографика */
  /* Оформление */
  background-color: #ffcc00;
  /* Анимация */
  /* Разное */
}

.main__skills h2 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  color: #1c4995;
  /* Анимация */
  /* Разное */
}

.main__skills__list {
  /* Позиционирование */
  /* Блочная модель */
  margin: 10px;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main__skills__list span {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #1c4995;
  font-style: italic;
  font-weight: 700;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main__code {
  /* Позиционирование */
  /* Блочная модель */
  height: 100%;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main__code h2 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #ffcc00;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main__code pre {
  /* Позиционирование */
  /* Блочная модель */
  margin: 10px;
  /* Типографика */
  white-space: pre-wrap;
  color: #ffffff;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main__experience {
  /* Позиционирование */
  /* Блочная модель */
  height: 100%;
  /* Типографика */
  /* Оформление */
  background-color: #000000;
  /* Анимация */
  /* Разное */
}
.main__experience h2 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #ffffff;
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.main__experience p {
  /* Позиционирование */
  /* Блочная модель */
  margin: 10px;
  /* Типографика */
  color: #ffcc00;
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.main__experience a {
  /* Позиционирование */
  /* Блочная модель */
  font-style: italic;
  /* Типографика */
  color: #ffffff;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main__education {
  /* Позиционирование */
  /* Блочная модель */
  height: 100%;
  /* Типографика */
  /* Оформление */
  background-color: #ffcc00;
  /* Анимация */
  /* Разное */
}
.main__education table {
  /* Позиционирование */
  /* Блочная модель */
  margin: 10px;
  /* Типографика */
  /* Оформление */
  border: 1px solid #1c4995;
  /* Анимация */
  /* Разное */
}
.main__education td {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  text-align: center;
  /* Оформление */
  border: 1px solid #1c4995;
  /* Анимация */
  /* Разное */
}
.main__education th {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #ffffff;
  /* Оформление */
  background-color: #1c4995;
  /* Анимация */
  /* Разное */
}

.main__english {
  /* Позиционирование */
  /* Блочная модель */
  height: 100%;
  /* Типографика */
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.main__english h2 {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  color: #ffcc00;
  /* Оформление */
  /* Анимация */
  /* Разное */
}
.main__english p {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  text-indent: 20px;
  color: #ffffff;
  text-align: justify;
  /* Оформление */
  /* Анимация */
  /* Разное */
}