@font-face {
    font-family: "Roboto-Regular";
  
    src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    background-color: #fff;    
    color: white;
    font-family: 'Roboto', sans-serif;   
    margin: 0 auto;
    max-width: 1024px;
}

/*font h1 -h6 */
a {
    color: grey;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.67em;
}

.wrapper{
    background-color: grey;
    
    text-align: center;
    height: 100vh;
    width: 90%;    
    margin: 0 5% 0 5%;
}

header {
    background-color: white;
    color: grey;
    display: flex;
    justify-content: space-between;
    height: auto;
}
/*______________________CONTACT______________________*/
.s_contact {
    margin: 30px 30px 0 30px;
    width: 100%;
}
.s_contact h1{
    text-align: center;
}

.contact_info{
    text-align: left;
    margin: 30px;
}



.contact_info ul {
    list-style: disc;
    margin: 0 20px;
}
.contact_info li{
    text-align: left;
    margin: 5px 0 5px;
}

.contact_info h2{
    text-align: left;
    margin: 10px 0 10px;
}

figure {
    margin: 0px 30px;   
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    height: auto;
}

main section {
    border-top: 3px solid #fff;
    text-align:initial;
}
main section h2 {
    background: white;
    color: grey;
    width:200px;
}


.s_summary .quote {
    border-left: 2px solid #ccc;
    margin: 10px;
    padding-left: 10px;
    font-style: italic;
    text-align: justify;
    text-indent: 20px;
}
strong{
    font-weight: 900;
    color: black;
}

.s_experience p{
    margin:10px;
}

.s_experience a{
    color:black;
}

.s_skills ul{
    margin: 10px;
}

pre{
    background-color: #c6c6c6;
    width: 400px;
    margin: 10px;
    color: black;
}

.s_education{
    height: auto;
    background-color: grey;
}

.s_education p{
    margin:10px;
}

.s_english{
    text-align: justify;
    text-indent: 20px;
    background-color: grey;
}

.s_english p{
    margin:10px;
}

table {    
    font-size: 14px;    
    text-align: left;
    border-collapse: collapse;
    background: #ededed;
    margin: 10px;
}
table th {
    color: black;    
    font-weight: bold;
    border-bottom: 1px solid grey;
    border-right:1px solid grey;
    padding: 12px 17px;
}
table td {
  color: black;
  border-bottom: 1px solid grey;
  border-right:1px solid grey;
  padding: 7px 17px;
}

table tr:hover td {
  text-decoration: underline;
}